{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<f:for each="{pages}" as="page">
    <article>
        <h4><f:link.page pageUid="{page.uid}" additionalParams="{i:link.additionalParams(page: page, indexPage: indexPage)}">{page.title}</f:link.page></h4>
        <p>
            <f:format.nl2br>{page.abstract}</f:format.nl2br>
        </p>
    </article>
</f:for>