{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<f:for each="{pages}" as="page">
    <article>
        <time datetime="{f:format.date(format:'Y-m-d', date:'{page.lastUpdated}')}"><f:format.date format="d.m.Y">{page.lastUpdated}</f:format.date></time>
        <h4><f:link.page pageUid="{page.uid}" additionalParams="{i:link.additionalParams(page: page, indexPage: indexPage)}">{page.title}</f:link.page></h4>
    </article>

    <f:render partial="Pager" arguments="{pageNum: pageNum, pageCount:pageCount}"/>
</f:for>