{namespace c=TYPO3\CMS\Core\ViewHelpers}
{namespace p=IMIA\ImiaPageteaser\ViewHelpers}
{namespace bx=IMIA\ImiaBaseExt\ViewHelpers}

<td class="col-icon">
    {bx:be.icon(record: item)}
</td>
<td class="col-title" style="white-space: normal">
    <a href=# onclick="window.location.href='{bx:be.uri(route: 'record_edit', table: '{item.table}', action: 'edit', uid: item.recordUid)}&columnsOnlyTS={moduleConf.fields -> p:implode()}&pagelayout=1&returnUrl='+T3_THIS_LOCATION; return false;">{item.title}</a>
    <f:if condition="{translated}">
        <f:else>
            <bx:variable.set name="itemPid">{item.pid}</bx:variable.set>
            <f:if condition="{item.sysLanguageUid} > 0">
                <bx:variable.set name="itemPid">{item.page.pid}</bx:variable.set>
            </f:if>
        </f:else>
    </f:if>
</td>
<f:for each="{moduleConf.listFields}" key="listField" as="listFieldTitle">
    <f:switch expression="{listField}">
        <f:case value="categories">
            <td><span>{item.categoryList -> f:format.raw()}</span></td>
        </f:case>
        <f:case value="abstract">
            <td><span>{item.abstract -> f:format.crop(maxCharacters: 64)}</span></td>
        </f:case>
        <f:case value="sorting">
            <td>
                <div class="btn-group" style="min-width: 0">
                    <f:if condition="{item.prev}">
                        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_moveup')}" class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.uri(route: 'tce_db')}&cmd[pages][{item.uid}][move]={item.prev}&redirect={f:uri.action(arguments: '{page: page}') -> bx:format.url.encode()}'; return false;">
                            <c:icon identifier="actions-move-up" />
                        </a>
                    </f:if>
                    <f:if condition="{item.next}">
                        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_movedown')}" class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.uri(route: 'tce_db')}&cmd[pages][{item.uid}][move]={item.next}&redirect={f:uri.action(arguments: '{page: page}') -> bx:format.url.encode()}'; return false;">
                            <c:icon identifier="actions-move-down" />
                        </a>
                    </f:if>
                </div>
            </td>
        </f:case>
        <f:case default="true">
            <td>
                <span>
                    <bx:variable.set name="value">{item -> bx:call(method: '{listField -> p:format.propertyToGetter()}')}</bx:variable.set>
                    <f:if condition="{value -> p:getClass()} == 'DateTime'">
                        <f:then>
                            {value -> f:format.date(format: 'd.m.Y H:i')}
                        </f:then>
                        <f:else>
                            {value}
                        </f:else>
                    </f:if>
                </span>
            </td>
        </f:case>
    </f:switch>
</f:for>
<f:if condition="{languageOptions -> f:count()} > 2">
    <td nowrap="nowrap" class="col-localizationa">
        <div>
            <bx:variable.set name="lang"><bx:variable.get name="languages.{item.sysLanguageUid}" /></bx:variable.set>
            <c:icon identifier="flags-{lang.flag}" /> {lang.title}<f:if condition="{item.sysLanguageUid} == 0"><f:if condition="{item.defaultLanguageHidden}"> <em style="font-size: 90%">(<f:translate key="backend_language_defaulthidden" />)</em></f:if><f:if condition="{item.languageFallback}"><em style="font-size: 90%; display: block;">(<f:translate key="backend_language_languagevisible" />)</em></f:if></f:if>
        </div>
    </td>
    <f:if condition="{language} == -1">
        <f:if condition="{translated}">
            <f:then>
                <td nowrap="nowrap" class="col-localizationb">&nbsp;</td>
            </f:then>
            <f:else>
                <td nowrap="nowrap" class="col-localizationb">
                    <div class="btn-group">
                        <f:for each="{languages}" as="localizeLang">
                            <f:if condition="{localizeLang.uid} > 0">
                                <f:then>
                                    <f:if condition="{item -> bx:call(method: 'hasTranslation', arguments: {0: localizeLang.uid})}">
                                        <f:else>
                                            <a href="{bx:be.uri(route: 'record_edit', table: 'pages_language_overlay', action: 'new', uid: item.recordUid)}&overrideVals[pages_language_overlay][doktype]={item.doktype}&overrideVals[pages_language_overlay][sys_language_uid]={localizeLang.uid}&columnsOnlyTS={moduleConf.fields -> p:implode()}&pagelayout=1&returnUrl={f:uri.action(arguments: '{page: page}') -> bx:format.url.encode()}" class="btn btn-default btn-sm" data-original-title="{localizeLang.title}">
                                                <c:icon identifier="flags-{localizeLang.flag}" />
                                            </a>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{localizeLang.uid} == 0">
                                        <f:if condition="{item.table} == 'pages_language_overlay'">
                                            <a href="{bx:be.uri(route: 'record_edit', table: 'pages', action: 'edit', uid: item.recordUid)}&columnsOnlyTS={moduleConf.fields -> p:implode()}&pagelayout=1&returnUrl={f:uri.action(arguments: '{page: page}') -> bx:format.url.encode()}" class="btn btn-default btn-sm" data-original-title="{localizeLang.title}">
                                                <c:icon identifier="flags-{localizeLang.flag}" />
                                            </a>
                                        </f:if>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </td>
            </f:else>
        </f:if>
    </f:if>
</f:if>

<td nowrap="nowrap">
    <div class="btn-group" style="min-width: 0">
        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_show')}" class="btn btn-default btn-sm" onclick="var previewWin = window.open('{p:uri.page(pageUid: item.uid, language: item.sysLanguageUid)}');previewWin.focus();">
            <c:icon identifier="actions-view" />
        </a>
        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_edit')}" class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.uri(route: 'record_edit', table: '{item.table}', action: 'edit', uid: item.recordUid)}&columnsOnlyTS={moduleConf.fields -> p:implode()}&pagelayout=1&returnUrl={f:uri.action(addQueryString: 1, addQueryStringMethod: 'GET,POST') -> bx:format.url.encode()}'; return false;">
            <c:icon identifier="actions-open" />
        </a>
        <f:if condition="{item.hidden}">
            <f:then>
                <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_unhide')}" class="btn btn-default btn-sm t3js-record-hide" data-toggle-title="f:translate(key:'backend_functions_page_hide')}" data-params="data[{item.table}][{item.recordUid}][hidden]=0" data-state="hidden">
                    <c:icon identifier="actions-edit-unhide" />
                </a>
            </f:then>
            <f:else>
                <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_hide')}" class="btn btn-default btn-sm t3js-record-hide" data-toggle-title="f:translate(key:'backend_functions_page_unhide')}" data-params="data[{item.table}][{item.recordUid}][hidden]=1" data-state="visible">
                    <c:icon identifier="actions-edit-hide" />
                </a>
            </f:else>
        </f:if>
        <f:if condition="{item.table} == 'pages'">
            <f:if condition="{item.uid -> bx:be.clipboard.selected()}">
                <f:then>
                    <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_copy')}" class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.module.uri(name: 'web_list')}&id={pageData.uid}&CB[el][pages|{item.uid}]=0&CB[setCopyMode]=1&collapse[_]=1&returnUrl={f:uri.action(addQueryString: 1, addQueryStringMethod: 'GET,POST') -> bx:format.url.encode()}'; return false;">
                        <c:icon identifier="actions-edit-copy-release" />
                    </a>
                </f:then>
                <f:else>
                    <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_copy')}" class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.module.uri(name: 'web_list')}&id={pageData.uid}&CB[el][pages|{item.uid}]=1&CB[setCopyMode]=1&collapse[_]=1&returnUrl={f:uri.action(addQueryString: 1, addQueryStringMethod: 'GET,POST') -> bx:format.url.encode()}'; return false;">
                        <c:icon identifier="actions-edit-copy" />
                    </a>
                </f:else>
            </f:if>
        </f:if>
        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_delete')}" class="btn btn-default btn-sm t3js-record-delete" data-params="cmd[{item.table}][{item.recordUid}][delete]=1" data-title="{item.title}" data-message="{f:translate(key: 'backend_page_delete')}">
            <c:icon identifier="actions-edit-delete" />
        </a>
    </div>
</td>