{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<div class="galleries">
    <f:for each="{pages}" as="page">
        <figure>
            <figcaption>
                {page.title}
                <f:if condition="{page.contentFileRelations}">
                    <br>
                    <f:translate key="teaser_gallery_images" arguments="{1:page.contentFileRelations}" />
                </f:if>
            </figcaption>
            <f:link.page pageUid="{page.uid}" additionalParams="{i:link.additionalParams(page: page, indexPage: indexPage)}">
                <f:image src="{page.teaserImage.uid}" treatIdAsReference="1" title="{page.teaserImage.title}" alt="{page.teaserImage.alternative}" width="220c" height="165c" />
            </f:link.page>
        </figure>
    </f:for>
</div>