{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<f:if condition="{prev}">
    <f:link.page pageUid="{prev.uid}" additionalParams="{additionalParams}" class="pageteaser-prev"><f:translate key="navigation_prev" /></f:link.page>
</f:if>

<f:if condition="{next}">
    <f:link.page pageUid="{next.uid}" additionalParams="{additionalParams}" class="pageteaser-next"><f:translate key="navigation_next" /></f:link.page>
</f:if>

<f:if condition="{overview}">
    <f:link.page pageUid="{overview.uid}" class="pageteaser-overview"><f:translate key="navigation_overview" /></f:link.page>
</f:if>