{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<f:if condition="{pageCount} > 1">
    <nav class="pager">
        <ul>
            <f:if condition="{pageNum} > 1">
                <li class="pager-first"><f:link.action arguments="{page: '1'}"><f:translate key="pager_first" /></f:link.action></li>
                <li class="pager-previous"><f:link.action arguments="{page: '{pageNum-1}'}"><f:translate key="pager_previous" /></f:link.action></li>
            </f:if>
            <f:if condition="{pageNum-2} > 0">
                <li><f:link.action arguments="{page: '{pageNum-2}'}"><i:calc>{pageNum}-2</i:calc></f:link.action></li>
            </f:if>
            <f:if condition="{pageNum-1} > 0">
                <li><f:link.action arguments="{page: '{pageNum-1}'}"><i:calc>{pageNum}-1</i:calc></f:link.action></li>
            </f:if>
            <li class="pager-cur cur"><f:link.action arguments="{page: '{pageNum}'}">{pageNum}</f:link.action></li>
            <f:if condition="{pageNum+1} <= {pageCount}">
                <li><f:link.action arguments="{page: '{pageNum+1}'}"><i:calc>{pageNum}+1</i:calc></f:link.action></li>
            </f:if>
            <f:if condition="{pageNum+2} <= {pageCount}">
                <li><f:link.action arguments="{page: '{pageNum+2}'}"><i:calc>{pageNum}+2</i:calc></f:link.action></li>
            </f:if>
            <f:if condition="{pageNum} < {pageCount}">
                <li class="pager-next"><f:link.action arguments="{page: '{pageNum+1}'}"><f:translate key="pager_next" /></f:link.action></li>
                <li class="pager-last"><f:link.action arguments="{page: '{pageCount}'}"><f:translate key="pager_last" /></f:link.action></li>
            </f:if>
        </ul>
    </nav>
</f:if>