{namespace i=IMIA\ImiaPageteaser\ViewHelpers}

<div class="products">
    <div class="category">
        <f:for each="{pages}" as="page">
            <article>
                <h2><f:link.page pageUid="{page.uid}" additionalParams="{i:link.additionalParams(page: page, indexPage: indexPage)}">{page.title}</f:link.page></h2>
                <h3><f:link.page pageUid="{page.uid}" additionalParams="{i:link.additionalParams(page: page, indexPage: indexPage)}">{page.subtitle}</f:link.page></h3>

                <h4><f:for each="{page.categories}" as="category" iteration="iteration"><f:if condition="{iteration.isFirst}"><f:then></f:then><f:else>, </f:else></f:if>{category.title}</f:for></h4>
            </article>
        </f:for>
    </div>
</div>