.module-docheader {
    z-index: 299;
    height: 65px;
}

#filter {
    border: 1px solid transparent;
    margin: 0 0 10px;
    display: inline-block;
}

#filter.active {
    border-color: #7c7c7c;
}

#filter button {
    position: relative;
    top: -1px;
    left: -1px;
    margin: 0;
}

#filter form {
    margin: 0;
    padding: 10px 10px 7px;
}

#showhidden,
#recursive {
    margin: 0;
}

#showhidden {
    margin-left: 8px;
}

.pageIndicator form,
.pageIndicator form div {
    display: inline;
}

body .typo3-fullDoc span.t3-icon-page-100-new {
    background: transparent url('../Images/Icons/PageDoktypeNewsAdd.png') no-repeat 0 0 / auto auto !important;
}

body .typo3-fullDoc span.t3-icon-page-110-new {
    background: transparent url('../Images/Icons/PageDoktypeGalleryAdd.png') no-repeat 0 0 / auto auto !important;
}

body .typo3-fullDoc span.t3-icon-page-120-new {
    background: transparent url('../Images/Icons/PageDoktypeProductAdd.png') no-repeat 0 0 / auto auto !important;
}

body .typo3-fullDoc span.t3-icon-page-130-new {
    background: transparent url('../Images/Icons/PageDoktypeEventAdd.png') no-repeat 0 0 / auto auto !important;
}

body .typo3-fullDoc span.t3-icon-page-140-new {
    background: transparent url('../Images/Icons/PageDoktypeArticleAdd.png') no-repeat 0 0 / auto auto !important;
}

.t3-icon-status-sorting-desc,
.t3-icon-status-sorting-asc {
    position: relative;
    top: -1px;
}

.t3-icon-status-sorting-desc {
    position: relative;
    top: -4px;
}

.pagepath {
    display: block;
    font-size: 70%;
}

.pagepath span {
    padding-left: 5px;
}

.db_list_normal a {
    text-decoration: none !important;
}

.db_list_normal a:hover {
    text-decoration: underline !important;
}

.typo3-DBctrl,
.col-localizationa > div {
    padding-left: 6px;
}

th, td {
    vertical-align: middle !important;
}

.typo3-DBctrl a {
    display: inline-block;
}

.db_list_normal .col-title .t3-icon {
    margin-right: 10px;
}

.db_list_translated .col-title .t3-icon,
.db_list_translated .col-localizationa .t3-icon,
.db_list_translated .pagepath {
    margin-left: 18px;
}

.typo3-docheader-buttons {
    height: auto !important;
    min-height: 26px !important;
    margin: 4px 0;
}

div#typo3-docbody {
    top: 64px !important;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 12px !important;
}

.pagination {
    border-style: none !important;
    margin: 0 !important;
    margin-left: 5px !important;
}

div.right {
    display: none;
}

.createBtnRight {
    display: inline;
    float: right;
    position: relative;
    margin-top: 20px;
    margin-bottom: 12px;
    z-index: 10
}

.createBtn{
    margin-top: -25px !important;
}

.table{
    border-collapse: inherit !important;
}

