{namespace c=TYPO3\CMS\Core\ViewHelpers}
{namespace p=IMIA\ImiaPageteaser\ViewHelpers}
{namespace bx=IMIA\ImiaBaseExt\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="functions">
    <f:if condition="{pidSelection -> f:count()} > 1">
        <f:form>
            <div class="form-group form-group-sm">
                <f:if condition="{moduleConf.pidRootpage}">
                    <f:then>
                        <f:translate key="backend_website" />:
                    </f:then>
                    <f:else>
                        <f:translate key="backend_storage" />:
                    </f:else>
                </f:if>
                <f:form.select name="pid" options="{pidSelection}"
                               value="{pid}" additionalAttributes="{onchange: 'this.form.submit()'}" class="form-control" />
            </div>
        </f:form>
    </f:if>
</f:section>

<f:section name="buttons">
    <f:if condition="{pageData.uid}">
        <div class="btn-group">
            <f:for each="{moduleConf.doktypesBasic}" key="doktype" as="doktypeTitle">
                <a class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.uri(route: 'record_edit', table: 'pages', action: 'new', uid: pageData.uid)}&defVals[pages][doktype]={doktype}{f:if(condition: moduleConf.fields, then: '&columnsOnlyTS={moduleConf.fields -> p:implode()}')}&pagelayout=1&returnUrl={f:uri.action(addQueryString: 1, addQueryStringMethod: 'GET,POST') -> bx:format.url.encode()}'; return false;">
                    <c:icon identifier="actions-document-new" />

                    <f:if condition="{f:translate(key: 'backend_doktype_{doktype}_create', default: '1')} != 1">
                        <f:then>
                            <f:translate key="backend_doktype_{doktype}_create" arguments="{0: doktypeTitle}"/>
                        </f:then>
                        <f:else>
                            <f:translate key="backend_doktype_create" arguments="{0: doktypeTitle}"/>
                        </f:else>
                    </f:if>
                </a>
            </f:for>
        </div>
    </f:if>
    <f:if condition="{bx:be.clipboard.get()}">
        <f:if condition="{bx:be.clipboard.get(field: '_TABLE')} == pages">
            <f:for each="{moduleConf.doktypes}" as="doktype">
                <f:if condition="{bx:be.clipboard.get(field: 'doktype')} == {doktype}">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" onclick="window.location.href='{bx:be.uri(route: 'tce_db')}&CB[paste]=|{pageData.uid}&CB[pad]=normal&redirect={f:uri.action(addQueryString: 1, addQueryStringMethod: 'GET,POST') -> bx:format.url.encode()}'; return false;">
                            <c:icon identifier="actions-document-paste-into" />
                            <f:translate key="backend_functions_page_paste" arguments="{0: '{bx:be.clipboard.get(field: \'_RECORD_TITLE\')}'}" />
                        </a>
                    </div>
                </f:if>
            </f:for>
        </f:if>
    </f:if>
</f:section>

<f:section name="content">
    <f:if condition="{pageData.uid}">
        <div class="row">
            <f:form class="col-xs-6">
                <div class="row">
                    <div class="col-xs-9">
                        <label for="search-word"><f:translate key="backend_search" />:</label>
                        <f:form.textfield id="search-word" name="search" value="{search}" class="form-control" />
                    </div>
                    <div class="col-xs-3">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-default btn-block">{f:translate(key:'backend_search_submit')}</button>
                    </div>
                </div>
                <br>
            </f:form>
            <div class="col-xs-6">
                <f:if condition="{pages} > 1">
                    <br>
                    <f:render partial="Backend/Paginate"
                              arguments="{position: 'top', perpage: perpage, pages: pages, page: page, count: '{items -> f:count()}'}"/>
                    <br>
                    <br>
                </f:if>
            </div>
        </div>

        <div class="recordlist">
            <div class="table-fit">
                <table class="table table-striped table-hover" data-table="pages">
                    <thead>
                        <tr>
                            <th nowrap="nowrap" class="col-icon">
                                <div style="width: 26px; height: 26px;"></div>
                            </th>
                            <th nowrap="nowrap" class="col-title">
                                <f:if condition="{sortingField} == 'title'">
                                    <f:then>
                                        <f:if condition="{sortingDirection} == 'asc'">
                                            <f:then>
                                                <f:link.action arguments="{sortingField: 'title', sortingDirection: 'desc'}">
                                                    {titleFieldLabel}
                                                </f:link.action>
                                                <c:icon identifier="status-status-sorting-asc" />
                                            </f:then>
                                            <f:else>
                                                <f:link.action arguments="{sortingField: 'title', sortingDirection: 'asc'}">
                                                    {titleFieldLabel}
                                                    <c:icon identifier="status-status-sorting-desc" />
                                                </f:link.action>
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{sortingField} != sorting">
                                            <f:then>
                                                <f:link.action arguments="{sortingField: 'title', sortingDirection: 'asc'}">
                                                    {titleFieldLabel}
                                                </f:link.action>
                                            </f:then>
                                            <f:else>
                                                {titleFieldLabel}
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </th>
                            <f:for each="{moduleConf.listFields}" key="listField" as="listFieldTitle">
                                <th nowrap="nowrap">
                                    <f:if condition="{listField} == sorting">
                                        <f:then>
                                            &nbsp;
                                        </f:then>
                                        <f:else>
                                            <f:if condition="{listField} == categories">
                                                <f:then>
                                                    <a>
                                                        {listFieldTitle}
                                                    <a>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{sortingField} == {listField}">
                                                        <f:then>
                                                            <f:if condition="{sortingDirection} == 'asc'">
                                                                <f:then>
                                                                    <f:link.action arguments="{sortingField: '{listField}', sortingDirection: 'desc'}">
                                                                        {listFieldTitle}
                                                                    </f:link.action>
                                                                    <c:icon identifier="status-status-sorting-asc" />
                                                                </f:then>
                                                                <f:else>
                                                                    <f:link.action arguments="{sortingField: '{listField}', sortingDirection: 'asc'}">
                                                                        {listFieldTitle}
                                                                    </f:link.action>
                                                                    <c:icon identifier="status-status-sorting-desc" />
                                                                </f:else>
                                                            </f:if>
                                                        </f:then>
                                                        <f:else>
                                                            <f:if condition="{sortingField} != sorting">
                                                                <f:then>
                                                                    <f:link.action arguments="{sortingField: '{listField}', sortingDirection: 'asc'}">
                                                                        {listFieldTitle}
                                                                    </f:link.action>
                                                                </f:then>
                                                                <f:else>
                                                                    {listFieldTitle}
                                                                </f:else>
                                                            </f:if>
                                                        </f:else>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </f:else>
                                    </f:if>
                                </th>
                            </f:for>
                            <f:if condition="{languageOptions -> f:count()} > 2">
                                <th nowrap="nowrap" class="col-localizationa">
                                    <div>
                                        {f:translate(key:'backend_localization')}
                                    </div>
                                </th>
                                <f:if condition="{language} == -1">
                                    <th nowrap="nowrap" class="col-localizationb">
                                        <div>
                                            {f:translate(key:'backend_localize')}
                                        </div>
                                    </th>
                                </f:if>
                            </f:if>
                            <th nowrap="nowrap" colspan="2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:if condition="{items -> f:count()} > 0">
                            <f:then>
                                <f:for each="{items}" as="item" iteration="iterator">
                                    <f:if condition="{language} == -1">
                                        <f:then>
                                            <bx:variable.set name="isTranslated">1</bx:variable.set>
                                            <tr data-uid="{item.recordUid}">
                                                <f:render partial="Backend/IndexItem"
                                                          arguments="{item: item, page: page,moduleConf: moduleConf, extConf: extConf, pageData: pageData, settings: settings, formToken: formToken, languages: languages, languageOptions: languageOptions, language:language}"/>
                                            </tr>
                                            <f:if condition="{item.translations -> f:count()} > 0">
                                                <f:for each="{item.translations}" as="transItem">
                                                    <bx:variable.set name="allowLng"><bx:variable.get name="languages.{transItem.sysLanguageUid}.uid" /></bx:variable.set>
                                                    <f:if condition="{allowLng} > 0">
                                                        <tr class="{f:if(condition: isTranslated, then: ' db_list_translated')}">
                                                            <f:render partial="Backend/IndexItem"
                                                                      arguments="{item: transItem, page: page,translated: isTranslated, moduleConf: moduleConf, extConf: extConf, pageData: pageData, settings: settings, formToken: formToken, languages: languages, languageOptions: languageOptions, language:language}"/>
                                                        </tr>
                                                    </f:if>
                                                    <bx:variable.set name="isTranslated">1</bx:variable.set>
                                                </f:for>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            <tr>
                                                <f:render partial="Backend/IndexItem"
                                                          arguments="{item: item, page: page, moduleConf: moduleConf, extConf: extConf, pageData: pageData, settings: settings, formToken: formToken, languages: languages, languageOptions: languageOptions, language:language}"/>

                                            </tr>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:then>
                            <f:else>
                                <bx:variable.set name="listFieldCount">{moduleConf.listFields -> f:count()}</bx:variable.set>
                                <tr>
                                    <td colspan="{5 + listFieldCount}">
                                        <span><f:translate key="backend_no_records" arguments="{0: '{f:if(condition: pageData.nav_title, then: pageData.nav_title, else: pageData.title)}'}" /></span>
                                    </td>
                                </tr>
                            </f:else>
                        </f:if>
                    </tbody>
                </table>
            </div>
        </div>
    </f:if>

    <br>
    <f:if condition="{pages} > 1">
        <f:render partial="Backend/Paginate"
                  arguments="{position: 'bottom', perpage: perpage, pages: pages, page: page, count: '{items -> f:count()}'}"/>
    </f:if>
    <div>
        <f:form>
            <f:if condition="{moduleConf.pid}">
                <f:else>
                    <f:form.checkbox id="recursive" name="recursive" value="1" checked="{recursive}" onclick="this.form.submit()"/>
                    <label for="recursive">
                        <f:translate key="backend_recursive"/>
                    </label>
                </f:else>
            </f:if>
            <f:form.checkbox id="showhidden" name="showHidden" value="1" checked="{showHidden}" onclick="this.form.submit()"/>
            <label for="showhidden">
                <f:translate key="backend_showhidden"/>
            </label>
        </f:form>
    </div>
</f:section>